body {
  background-color: lightgray;
}

.main--container {
  display: grid;
  grid-template-columns: 500px
  /* grid-template-rows: 1px; */
}

.navbar {
  color: orange;
  background-color: black;
}

.card {
  background-color: red;
}

.grid--item--3 {
  background: #495E57;
  color: red;
}
